{{log this}}
<form action="" id="pdfExtractor">
    <h3>{{pdfUrl}}</h3>
    <div class="flexrow">
        sdfsqdfqsdfsqdfsqdfsqdfsqdfsqdf
        <div class="form-fields">
            {{filePicker target="pdfUrl" }}
            <input type="text" id="pdfUrl" name="pdfUrl" placeholder="{{localize
                'File Path'}}" value="{{pdfUrl}}" />
        </div>
        <!--
        <a id="scanPage">
            <i class="fab fa-searchengin"></i>scan
        </a>
        -->
        <a id="createJournal">
            <i class="fas fa-magic"></i>create
        </a>
        <a id="getContent">
            <i class="fas fa-magic"></i>getContent
        </a>

    </div>


    <iframe id="pdfReader"
        src="modules/pdfReaderTest/pdfjs/web/viewer.html?file=../../../../{{pdfUrl}}"></iframe>
</form>