{{log this}}
<form action="" id="pdfExtractor">
    <style>
        #pdfExtractor a {
            padding: 12px;
            margin: 5px;
            background-color: gray;
        }
    </style>
    <h3>{{pdfUrl}}</h3>
    <div class="flexrow">
        <div class="form-fields">
            {{filePicker target="pdfUrl" }}
            <input type="text" id="pdfUrl" name="pdfUrl" placeholder="{{localize 'File Path'}}" value="{{pdfUrl}}" />
        </div>
        <a id="createHtml">
            <i class="fab fa-searchengin"></i>createHtml
        </a>

    </div>
    <div class="flexrow">
        <div>
            <div class="flexrow">
                <a id="pdfPrevious" <i class="far fa-caret-square-left"></i></a>
                <input type="number" id="activePage" name="activePage" value="{{activePage}}">
                <a id="pdfNext"><i class="far fa-caret-square-right"></i></a>
            </div>
            <div id="pdfContainer">
                <canvas id="pdf-canvas"></canvas>
                <div id="text-layer"></div>
            </div>
        </div>
        <ul>
            {{#each sizes as |size ind|}}
            <li class="{{ind}}">
                <div class="flexrow">

                    <h3>{{ind}}</h3>
                    <p>chosse a tag</p>
                    <select class="fontTag" id="fontTag" data-font="{{ind}}">
                        <option value="noDisplay">dont display</option>
                        <option value="h1">title 1</option>
                        <option value="h2">title 2</option>
                        <option value="h3">title 3</option>
                        <option value="h4">title 4</option>
                        <option value="span">span</option>
                        <option value="quote">quote</option>
                        <option value="em">italic</option>
                        <option value="b">bolt</option>
                    </select>
                </div>



            </li>

            {{/each}}
        </ul>

    </div>

    <div id="htmlContent">
        {{{html}}}

    </div>

</form>